.widget-prev-next {
    max-width: var(--responsive--aligndefault-width);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--global--color-white);
    padding: 20px 30px;

    .headlinesdate {
        float: left;
        width: 15%;
        min-width: 55px;
        display: table-cell;
        vertical-align: middle;
        margin-top: 0;
        margin-bottom: 0;

        .headlinesdm {
            float: left;

            .headlinesday {
                border-bottom: 1px solid #000;
            }
        }

        .headlinesyear {
            line-height: 3.5em;
            float: left;
            margin-left: 3px;
        }
    }

    .headlinestitle {
        display: table-cell;
        vertical-align: middle;
        width: 80%;
        float: right;
        margin-top: 0;
        margin-bottom: 0;
        a{
            font-size: var(--global--font-size-md);
        }
    }

    ul {
        li {
            display: table;
            width: 100%;
            margin: 10px 0 !important;
        }
    }
}